<html>
	<head>
		<title>PiWars</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Piwars 2020: Eden</a></h1>
		</div>

		<div>
			<p> published </p>
			<h2><a href="">First Post</a></h2>
			<p>Lorem Ipsum</p>
		</div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
		
	</body>
</html>
